<form [formGroup]="tutorForm">



  <mat-form-field hintLabel="Somente Números">
    <input placeholder="CPF:" matInput formControlName="Cpf" [errorStateMatcher]="matcher" (keyup)="updateForm($event)">
    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>



  <mat-form-field>
    <input matInput placeholder="Nome Completo:" formControlName="Nome" #nome>
  </mat-form-field>

  <mat-slide-toggle formControlName="Bloqueado">Bloquear</mat-slide-toggle>

  <button mat-icon-button type="submit" [disabled]="btnSalvar==false || !tutorForm.valid" (click)="onSubmit()"
    color="accent">
    <mat-icon>add</mat-icon>
  </button>
</form>
