<div fxFill>

  <mat-tab-group mat-stretch-tabs fxFill>
    <mat-tab label="Doenças">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" style="padding: 20px;">
        <form [formGroup]="doenForm" fxLayout="row" fxLayoutAlign="space-around stretch">
          <mat-form-field fxFlex="40">
            <input matInput placeholder="Doença" formControlName='Nome' #name>
          </mat-form-field>

          <mat-form-field fxFlex="20">
            <input matInput placeholder="Sintomas" formControlName='Sintomas'>
          </mat-form-field>

          <mat-checkbox formControlName='Zoonose'>Zoonose?</mat-checkbox>


          <button mat-icon-button type="submit" [disabled]="!doenForm.valid" (click)="onSubmit()" color="accent">
            <mat-icon>add</mat-icon>
          </button>
        </form>
      </div>
      <mat-divider></mat-divider>


      <div>
        <table mat-table [dataSource]="doencas$ | async" style="width: 100%;">

          <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef> Doença: </th>
            <td mat-cell *matCellDef="let element"> {{element.Nome}} </td>
          </ng-container>

          <ng-container matColumnDef="Sintomas">
            <th mat-header-cell *matHeaderCellDef>Sintomas</th>
            <td mat-cell *matCellDef="let element"> {{element.Sintomas}} </td>
          </ng-container>

          <ng-container matColumnDef="Zoonose">
            <th mat-header-cell *matHeaderCellDef> Zoonose? </th>
            <td mat-cell *matCellDef="let element"> {{element.Zoonose}} </td>
          </ng-container>

          <ng-container matColumnDef="Funcoes">
            <th mat-header-cell *matHeaderCellDef>Funções</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button color="primary" (click)="edit(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button color="accent" (click)="del(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </mat-tab>
    <!-- <mat-tab label="Buscar">

      <div fxLayout="column" fxLayoutAlign="space-around strech" style="padding: 20px;">
        <mat-form-field>
          <input matInput autocomplete="off" placeholder="Buscar Vacinas" (keyup)="filter($event)">
        </mat-form-field>
      </div>
      <ul *ngFor="let item of filterDoencas$ | async">
        <li>{{item.Nome}}</li>
      </ul>

    </mat-tab> -->
  </mat-tab-group>
</div>
