
<form [formGroup]="animalForm">
<mat-form-field appearance="fill" color="primary">
  <mat-label>Numero do MicroChip</mat-label>
  <!-- <input type="text" matInput  formControlName="IdChip" #idChip (keyup.enter)="searchAnimal()"> -->
  <input type="text" matInput formControlName="IdChip" #idChip (keyup.enter)="searchAnimal()">
</mat-form-field>

<button mat-mini-fab (click)="searchAnimal()">
  <mat-icon>search</mat-icon>
</button>
<mat-divider></mat-divider>

<p>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Nome:</mat-label>
    <input type="text" matInput formControlName="Nome" name="Nome">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Data de Nascimento:</mat-label>
    <input type="date" matInput required >
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Raca:</mat-label>
    <input type="text" matInput  required >
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Tamanho:</mat-label>
    <input type="text" matInput  required >
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Especie:</mat-label>
    <input type="text" matInput  required >
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Tutor:</mat-label>
    <input type="text" matInput  required  minlength="11"
      maxlength="11">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Observações:</mat-label>
    <input type="text" matInput >
  </mat-form-field>
</p>
<button class="rbButton" mat-fab  (click)="salvaAnimal()">
  <mat-icon>add</mat-icon>
</button>
</form>
