<mat-card>
  <mat-card-title>Agendamento de Procedimentos</mat-card-title>
</mat-card>
<form [formGroup]='form'>

  <mat-form-field>
    <mat-label>Escolha a data</mat-label>
    <input matInput [min]="dataMin" [matDatepicker]="picker" [matDatepickerFilter]="filtroDiasSemana"
      formControlName='DataAgendada' (dateInput)="getDataAgendada($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Horário</mat-label>
    <ng-container>
      <mat-select formControlName='HoraAgendada'>
        <mat-option *ngFor="let horas of horariosLivres" [value]="horas.hora">
          <span *ngIf="horas.valida==true">
            {{horas.hora}}
          </span>
        </mat-option>
      </mat-select>
    </ng-container>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Técnico Responsável</mat-label>
    <mat-select formControlName="TecnicoResponsavel">
      <mat-option *ngFor="let vet of listaVet$ | async" [value]="vet.Nome">
        {{vet.Nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Procedimento" formControlName="Procedimento">
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="onSubmit()" color='accent' [disabled]="!form.valid">Agendar</button>
</form>
