<div>
  <mat-card>
    <mat-card-title>Cadastro de Veterinários</mat-card-title>
  </mat-card>
  <form [formGroup]="vetForm">
    <mat-form-field hintLabel="Somente Números">
      <input placeholder="CPF:" matInput formControlName="cpf" [errorStateMatcher]="matcher"
        (keyup)="updateForm($event)">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Nome Completo:" formControlName="Nome" #nome>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="CRMV:" formControlName="Crmv" #nome>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName='DataNasc' (dateInput)="getDataNasc($event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Clinica:" formControlName="Clinica" #nome>
    </mat-form-field>
    <br>
  </form>
</div>
<mat-divider></mat-divider>
<br>
<div>
  <form [formGroup]="enderecoForm">
    <mat-label>Endereço</mat-label>
    <br>
    <mat-form-field>
      <input matInput placeholder="Bairro" formControlName="Bairro">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Logradouro" formControlName="Logradouro">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numero" formControlName="Numero">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Complemento" formControlName="Complemento">
    </mat-form-field>
    <br>
  </form>
  <button mat-raised-button color="accent" type="submit"
    [disabled]="btnSalvar==false || (!vetForm.valid || !enderecoForm.valid)" (click)="onSubmit()"
    class="button_add_botton_right">
    Registrar <mat-icon>add</mat-icon>
  </button>
</div>
